################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/.vscode
/.vs/slnx.sqlite
/log
mongodbconnection_old2.js
appsettings_old2.js
appsettings.js
/client/node_modules
.env
*.ignore.js
*.log